# Node environment. Set this to 'production' when deploying to production
NODE_ENV=development

# Server IP/host and port to bind to
APP_HOST=localhost
APP_PORT=3001

# Secret key used to sign session cookies
APP_SECRET=somesecret

# Max file size for file uploads, in MB
APP_MAX_FILE_SIZE=30

# Database IP/host and port
DB_HOST=localhost
DB_PORT=27017

# Database name
DB_DATABASE=somedatabase

# Database user and password (leave empty if not secure)
DB_USER=
DB_PASSWORD=